@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap');
body  {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
}

HEAD{
    background-image: url(img/figura1) ;
}



.inscripcion{
   
    width: 400px;
    background-color:  #24303c; ;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white;
}
.controls{
    width: auto;
    background: #24303c;
    padding: 10px;
    border-radius: auto;
    margin-bottom: auto;
    border: 1px solid #1f53c5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Inicio {
    
    background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),url(../img/figura1vale.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    h2{
        color: white;
        font-size: 50px;
        text-align: left;
        padding-left: 80px;
        padding-top: 80px;
        width: 30%;
    }
    p{
        color: white;
        font-size: 18px;
        width: 40%;
        margin: 80px;  
    }
}

a{
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-size: 20px;

}

nav a{
    font-weight: 590;
    margin-left: 20px;
}

nav a:hover{
    color: #9797dd;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:whitesmoke;
  padding: 15px;
 
}
